$header-height: 80px;
$footer-height: 40px;

html, body {
  margin: 0;
}

h1, p {
  margin: 0;
  padding: 8px;
}

header {
  height: $header-height;
  background-color: aquamarine;
  padding: 12px;
}

main {
  height: calc(100vh - $header-height * 2 - $footer-height);
  background-color: lightgoldenrodyellow;
  padding: 16px;
}

footer {
  height: $footer-height;
  background-color: lightsalmon;
  padding: 12px;
}
